//<FORM ()>====================================================================================================
.form {
	&__row {
	}
	&__column {
	}
	&__line {
		margin-bottom: 18px;
		position: relative;		
	}
	&__label {
		font-style: normal;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.257rem;
		letter-spacing: -0.02em;
		color:  #49485E;
		margin-bottom: 5px;
		display: inline-block;
		position: relative;

		&_req::after{			
			content: '';
			background-color: #FF8484;
			position: absolute;
			width: 4px;
			height: 4px;
			top: -1px;
			right: -5px;
			border-radius: 50%;					
		}			
	}
	&__input {
		position: relative;
	}
	&__button {
	}
	&__error {	
		position: absolute;
		bottom: -16px;
		left: 0;	
		font-style: normal;
			font-weight: 400;
			font-size: 1.2rem;
			line-height: 1.2rem;
			letter-spacing: -0.02em;
			color: darken(#FF8484, 15%);			
	}
}

//</FORM>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}
.input {
	display: block;
	background: #FFFEFB;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	width: 100%;
	padding: 10px 16px;	
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #B4B4B4;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	&:focus{
		box-shadow: 1px 3px 8px rgba(0, 128, 0, 0.3);
	}	

	&._focus {		
		color: #3F3F3F;
	}
	&._error {
		border: 1px solid #FF8484;
	}
}
textarea.input {
	height: 108px;
	resize: none;
	padding: 10px 16px;
}
// </INPUT>====================================================================================================
// <SELECT (sel+tab)>====================================================================================================
// .select {
// 	position: relative;
// 	// .select__item
// 	&__item {
// 		position: relative;
// 		background: #FFFEFB;
// 		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
// 		border-radius: 4px;
// 	}
// 	// .select__title
// 	&__title {
// 		cursor: pointer;
// 		padding: 10px 27px 10px 16px;		
// 		color: #B4B4B4;
// 		font-style: normal;
// 		font-weight: 400;
// 		font-size: 1.2rem;
// 		// line-height: 1.5rem;

// 	}
// 	// .select__value
// 	&__value {
// 		display: flex;		
// 		height: 15px;

<<<<<<< HEAD
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7px;
			// background: url("../images/icons/arrowSelect.svg") center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: darken(#B4B4B4, 20%);
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		background-color: #FFFEFB;
		font-size: 1.2rem;
		line-height: 1.5rem;
		min-width: 100%;
		padding: 10px 0px 5px 0px;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 10px;
		margin: 0px 0px 0px 0px;
=======
// 		align-items: center;
// 		justify-content: space-between;
// 		flex-direction: row-reverse;
// 		span {
// 			height: 1em;
// 			overflow: hidden;
// 			display: -webkit-box;
// 			-webkit-line-clamp: 1;
// 			-webkit-box-orient: vertical;
// 		}
// 		&:before {
// 			content: "";
// 			display: inline-block;
// 			transition: all 0.3s ease 0s;
// 			width: 11px;
// 			height: 7px;
// 			// background: url("../images/icons/arrowSelect.svg") center / 100% no-repeat;
// 		}
// 	}
// 	&__input {
// 		width: 100%;
// 		background-color: transparent;
// 		height: 100%;
// 	}
// 	// .select__options
// 	&__options {
// 		color: darken(#B4B4B4, 20%);
// 		position: absolute;
// 		top: 29px;
// 		border-radius: 0 0 4px 4px;
// 		min-width: 100%;
// 		left: 0;
// 		border-top: 0;
// 		border: 1px solid #d9d9d9;
// 		border-top: 0;
// 		background-color: #FFFEFB;
// 		font-size: 1.2rem;
// 		line-height: 1.5rem;
// 		min-width: 100%;
// 		padding: 10px 0px 5px 0px;
// 	}
// 	// .select__option
// 	&__option {
// 		cursor: pointer;
// 		padding: 5px 10px;
// 		margin: 0px 0px 0px 0px;
>>>>>>> newFeatches
		
// 		@media (min-width: 992px) {
// 			&:hover {
// 				background: darken(#FFFEFB, 20%);
// 			}
// 		}
// 	}
// 	&._active {
// 		z-index: 5;
// 		.select__value {
// 			&:before {
// 				transform: rotate(-180deg);
// 			}
// 		}
// 		.select__options {
// 			display: block;
// 		}
// 	}
// }
// </SELECT>====================================================================================================

// <OPTIONS (opt+tab)>====================================================================================================
// .options {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: flex-start;
// 	// .options__item
// 	&__item {
// 		position: relative;
// 		cursor: pointer;
// 		&._error {
// 		}
// 	}
// 	// .options__input
// 	&__input {
// 		position: absolute;
// 		width: 0;
// 		height: 0;
// 		opacity: 0;
// 		left: 0;
// 		top: 0;
// 		visibility: hidden;
// 		&:checked + .options__text:before {
// 		}
// 		&:checked + .options__text:after {
// 			transform: scale(1);
// 		}
// 	}
// 	// .options__text
// 	&__text {
// 		display: inline-flex;
// 		align-items: center;
// 		position: relative;
// 		font-size: 16px;
// 		color: #ffffff;
// 		letter-spacing: -0.3px;
// 		line-height: calc(20 / 16);
// 		&:before {
// 			content: "";
// 			align-self: flex-start;
// 			margin: 0px 14px 0px 0px;
// 			flex: 0 0 20px;
// 			left: 0;
// 			top: 0;
// 			border-radius: 50%;
// 			width: 20px;
// 			height: 18px;
// 			background: #fff;
// 			border: 1px solid #a7a9ac;
// 		}
// 		&:after {
// 			content: "";
// 			transition: all 0.3s ease 0s;
// 			transform: scale(0);
// 			width: 10px;
// 			height: 10px;
// 			border-radius: 50%;
// 			background-color: #77243a;
// 			position: absolute;
// 			left: 5px;
// 			top: 4px;
// 		}
// 	}
// }
// </OPTIONS>====================================================================================================